
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar-brand{
    font-size: 2rem;
    /* margin: 0px 40px 0 170px; */
    font-weight: 700;
    color: #2874f0;
}
.containre-navbar{
    color: white;
}



.wallet-btn{
    border-radius: 0;
    margin-left: 40px;
    color: #2874f0;
    font-weight: 700;
}

.nav-item{
    margin: 0 20px;
    font-weight: 600;
    font-size: 18px;
}
.cart{
    margin: 0 20px;
    font-weight: 600;
    color: white;
    font-size: 18px;
}
.icon{
    margin: 0px 7px;
}
/* Product Section*/
.product-detail-page{

    margin: 2rem;
}
.product-form{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.input-area{
    width: 500px;
    margin: 1rem;
    height: 37px;
    border-radius: 7px;
    border: 1px solid white;
    background: transparent;
}
.input-area::placeholder{
    color: white;
    padding-left: 10px;
    opacity: 0.6;
}
.price-selection{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.price-input{
    width: 120px;
}
.desc-input{
    height: 150px;}
.btn-form{
    margin: 20px 160px;
}

.product-item{
    
}

.auto-slider-img{
    width: 100%;
    height: 500px;
}

.icon-prev{
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.icon-next{
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-next, .carousel-control-prev{
    background:transparent;
    height: 50px;
    top: 50%;
}
.text-white{
    text-decoration: none;
}

.footer-part{
    background-color: #2874f0;
}

.copyright-content{
    background-color: rgba(0, 0, 0, 0.2);
}
.App{
    font-family:  'Roboto', sans-serif;
}

.token-section{
    width: 60px;
    height: 120px;
    background-color: black;

}
.token-btn{
    height: 30%;

}
.text-white{
    text-decoration: none;
}

.footer-part{
    background-color: black;
}

.copyright-content{
    background-color: rgba(0, 0, 0, 0.2);
}

.text-color{
    /* color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)); */
    color: white !important;
}



.brand-name{
    font-size: 5rem;
    font-weight: 800;
    float: left;
    margin-right: 0px;
    position: relative;
    right: 170px;
    color: #2874f0;
}

.description{
    text-align: left;
    position: relative;
}

/*body*/
body{
    background-color: black !important;
}
.navbar{
    background-color: black !important;
}

.navbar-brand{
    font-size: 2rem;
    /* margin: 0px 40px 0 170px; */
    font-weight: 800;
}
.containre-navbar{
    color: white;
}

.search-product{
    width: 70%;
    /* border-radius: 0; */
    /* border: 3px solid #0d6efd; */
    background: transparent;
    border-radius: 30px ;
    height: 35px;

}
.search-product::placeholder{
    color: white;
    margin: 0px 20px;
}



.nav-item{
    margin: 0 20px;
    font-weight: 400;
    font-size: 18px;
}
.cart{
    margin: 0 10px;
    font-weight: 400;
    color: white;
    font-size: 18px;
}

.wallet-btn{
    background-color: #0d6efd !important;
    color: white !important;
    border-radius: 4px;
    border: none;
    font-weight: 400;

}
.container-fluid{
    margin: 0px 10px;
    /* display: flex; */
}
.nav-section-1{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.nav-section-2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.seller-btn{
    background: transparent;
}
.fab{
    width: 24px;
}
.select-option{
    background: transparent;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
}
select option {
    margin: 40px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0); */
  }
  .card-btn{
    margin: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .category-head{
    color: white;
    margin: 2rem;
    font-size: 30px;
  }